.detailsBodyContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lineChart{
    color: #3c6222;
    margin: 50px;
    width: 500px;
    height:  300px;
}
.ValueBodyContainer{

    display: flex;
    justify-content: space-around;
}

.ValueBodyContainer > div {
    flex: 1; /* Alle Container erhalten den gleichen Anteil am verfügbaren Platz */
    margin: 60px; /* Abstand zwischen den Containern */
}