h2{
    margin: 0;
}
.card{
    background: rgba(160, 203, 122, 0.2);
    color: #3c6222;
    margin: 50px;
    border-radius: 20px;
    width: 300px;
    height:  350px;
    box-shadow: 1px 3px 5px #012A4A;
}

.card img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin: 0;
}

a{
    text-decoration: none;
    color: #0056b3;
    font-style: italic;
}

a:hover {
    font-weight: bold;
}